body {
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 1vh;
}

.roundedCorner {
  border-radius: 20px;
}

.main {
  background-color: lightgray;
  /* position: absolute; */
  height: 96vh;
  width: calcl(100%-1vh);
  padding: 1vh;
}

.editor {
  width: 50%;
  height: 92vh;
  padding: 2vh;
  background-color: papayawhip;
  /* height: 500px; TODO remove this */
  border: none;
  line-height: 1.5;
  display: block;
  resize: none;
  font-size: 1rem;
  color: #4c473f;
  font-weight: 600;
}

.editor:focus {
  outline: none;
}